.paper {
  max-width: 228px;
  margin: 8px;
  display: inline-block;
}

.roomLabel {
  text-align: center;
  font-size: 2em;
  padding: 12px;
}

.temperatureIndicator {
  height: 64px;
  line-height: 64px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  color: rgb(33, 33, 33);
  text-align: center;
}
.temperatureIndicator:after {
  content: '°';
  position: absolute;
}
.heating {
  // background: linear-gradient(0deg, rgb(183, 28, 28) 0%, rgb(255, 112, 67) 40%, rgb(255, 112, 67) 60%, rgb(255, 202, 40) 100%);
  // background: linear-gradient(0deg, rgb(255,111,67) 0%, rgb(255,201,40) 10%, rgb(255,255,255) 18%, rgb(255,255,255) 100%);
  background: linear-gradient(0deg, #FF4E50 0%, #F9D423 50%, white 110%);
}

.setpoint {
  text-align: center;
  font-size: 1.3em;
  padding: 8px;
}
.colderButton {
  float: left;
}
.hotterButton {
  float: right;
  span {
    float: right;
  }
}