.paper {
  max-width: 228px;
  margin: 8px;
  display: inline-block;
  position: relative;
  border-radius: 16px;
}

.roomLabel {
  text-align: center;
  font-size: 2em;
  padding: 12px;
}

.temperatureIndicator {
  font-size: 4em;
  color: rgb(33, 33, 33);
  text-align: center;
  height: 96px;
  line-height: 96px;
  margin-left: auto;
  margin-right: auto;
}
.temperatureIndicator:after {
  content: "°";
}

.setpoint {
  text-align: center;
  font-size: 1.5em;
  // font-weight: 100;
  padding: 8px;
}
.colderButton {
  float: left;
}
.hotterButton {
  float: right;
  span {
    float: right;
  }
}

.waveContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 32px;
  width: 100%;
  pointer-events: none;
  transform: rotate(180deg);
}

.wave {
  background-color: rgb(255, 202, 40);
  -webkit-mask-image: url("../static/wave.svg");
  position: absolute;
  -webkit-mask-size: 228px 40px;
  bottom: 0;
  width: 456px;
  height: 32px;
  transform: translate3d(0, 0, 0);
  animation: wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  background-color: rgb(255, 112, 67);
  bottom: -10px;
  animation: wave 4.5s cubic-bezier(0.36, 0.45, 0.63, 0.53) 3.5s infinite,
    swell 4s ease 0s infinite;
  animation-direction: reverse;
}

.wave:nth-of-type(3) {
  background-color: rgb(183, 28, 28); 
  bottom: -15px;
  animation: wave 9s cubic-bezier(0.36, 0.45, 0.63, 0.53) 6.6s infinite,
    swell 7s ease 0s infinite;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -228px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -8px, 0);
  }
  20% {
    transform: translate3d(0, -2px, 0);
  }
  50% {
    transform: translate3d(0, -6px, 0);
  }
  70% {
    transform: translate3d(0, 0px, 0);
  }
}
